.profile-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.profile-content{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}

.profile-details{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profile-image{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.profile-input{
  padding: 10px;
  background-color: #10B981;
  color: white;;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  
}

.profile-input:hover{
  opacity: 0.8;
  
}

.profile-input:active{
  opacity: 0.6;
}