
html, body,
#root {
  font-family: "Inter", "Poppins", sans-serif;
  margin: 0;
  background-color: #FAFAFA;
  font-size: 16px;
  color: #141414;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

@media
(max-width: 768px) {
  html, body, #root {
    font-size: 14px;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 30px;
  overflow-y: auto;
}

.login-header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid #EDEDED;
}

.login-name {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .login-name {
    font-size: 24px;
  }
}

.login-main{
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 0 20px;
  flex-wrap: wrap-reverse;
}



.login-image{
  width: 400px;
  height: 400px;
}
@media (max-width: 768px) {
  .login-main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .login-image {
    width: 200px;
    height: 200px;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* max-width: 600px; */
  width: 350px;
  /* border-radius: 10px; */
  /* padding: 30px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* font-size: 14px; */
}

@media (max-width: 768px) {
  .form-container {
    width: 70%;
  }
}

.login-heading {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .login-heading {
    font-size: 22px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-input {
  width: 100%;
  padding: 15px;
  display: inline-block;
  background-color: #EDEDED;
  font-family: inherit;
  /* border: 1px solid #3C3C50; */
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-input:focus {
  /* outline: 1px solid #babac1; */
  outline: none;
  box-shadow: 0 0 4px #babac1;
}

.signup-link {
  text-decoration: none;
  text-align: center;
  color: #737373;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #f87171;
}

.buttons {
  background-color: #141414;
  color: #FAFAFA;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  /* font-weight: bold; */
  font-size: 16px;
}

@media (max-width: 768px) {
  .buttons {
    /* width: 100%; */
    font-size: 14px;
  }
}

.buttons:hover {
  opacity: 0.8;
  /* background-color: #6D9EFF; */
}

.buttons:active {
  opacity: 0.6;
}

.buttons.disabled {
  background-color: #737373;
  cursor: not-allowed;
  opacity: 0.7;
}

/* home and navbar */
.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 0px;
}

.home-main {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: 100%;
}


.navbar-container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #EDEDED;
  /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2); */
  /* background-color: #1E1E2F; */
}

.navbar-heading {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.navbar-heading:hover {
  opacity: 0.8;
}

.navbar-heading:active {
  opacity: 0.6;
}

.right-nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* profile page */
.profile-container {
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 40px;
  width: 70%;
  overflow: auto;
}

.profile-heading{
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
}

.profile-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.profile-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.avatar-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
}

.avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.camera-overlay {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #A0A0B0;
  color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.camera-overlay:hover {
  opacity: 0.8;
}

.camera-overlay:active {
  opacity: 0.6;
}

.camera-image{
  width: 20px;
  height: 20px;
}
/* avatar-wrapper{
  position: relative;
  width: 150px;
  height: 150px;
} */

.profile-input {
  padding: 10px;
  background-color: #4C7CF5;
  color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
}

.profile-input:hover {
  opacity: 0.8;
}

.profile-input:active {
  opacity: 0.6;
}

/* components */
.profile-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-icon:hover {
  opacity: 0.8;
}

.profile-icon:active {
  opacity: 0.6;
}

.hamburger{
  display: flex;
  align-items: center;
  cursor: pointer;
  display: none;
}

.hamburger-icon{
  width: 30px;
  height: 30px;
}

.hamburger:hover {
  opacity: 0.8;
}

.hamburger:active {
  opacity: 0.6;
}

.chat-window {
  height: 100%;
  /* overflow: hidden;  */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.select-user {
  text-align: center;
  padding: 20px;
}

.message-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: #EDEDED;
  word-wrap: break-word;
  max-width: 70%;
  font-size: 14px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 400px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #EDEDED;
}

.chat-heading {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
  border-bottom: 2px solid #EDEDED;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}


.message-form {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.message-image {
  width: 300px;
  border-radius: 10px;
}

.upload-label {
  background-color: #A0A0B0;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.upload-label:hover {
  opacity: 0.8;
}

.upload-label:active {
  opacity: 0.6;
}

.upload-icon {
  color: #ffffff;
  height: 20px;
  width: 20px;
}

.image-preview {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e7eb;
}

.image-preview>img {
  width: 200px;
  margin: 0;
}

.cancel-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.avatar-image-s {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.logout {
  background-color: #fbfefd;
  color: #15191c;
  border-radius: 50%;
  padding: 10px;
}

.logout-button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout-button:hover {
  opacity: 0.8;
}

.logout-button:active {
  opacity: 0.6;
}

@media (max-width:1024px){
  .home-main {
    flex-direction: column;
  }
  .sidebar-container{
    position: fixed;
    height: 100vh;
    transform: translateX(-100%); /* Hidden by default */
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }
  .sidebar-container.open {
    transform: translateX(0); /* Slide in */
    background-color: #EAE4D5;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0,0,0,0.4); */
    z-index: 999;
  }
  .chat-window{
    width: 100%;
  }
  .profile-container{
    width: 100%;
  }
  .hamburger{
    display: flex;
  }
}

.chat-heading,
.image-preview,
.message-form {
  flex-shrink: 0; 
}

.no-messages{
  text-align: center;
}